<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chat App</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#181717">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="manifest" href="manifest.json" />
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/bbd7036ee1.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    </head>
    <body class="m-0" style="overflow-y: hidden;">
        <div id="context-menu"></div>

        <div class="row" style="height: 100%;">
            <div class="col-12 h-100 p-0 chats-wrapper">
                <div class="mb-2 p-3 search-box-wrapper">
                    <div class="input-group">
                        <input type="text" class="form-control search-box" placeholder="Start a chat with someone..." id="start-chat-input" style="margin-right: 0.5rem!important;">
                    </div>                          
                </div>
                <div class="px-3 pt-2" style="padding-left: 1.5rem!important; padding-right: 1.5rem!important;" id="users-wrapper">
                    <div class="row" id="users-container"></div>
                </div>
                <div class="account-nav-wrapper">
                    <div class="account-nav-inner">
                        <img src="{{ self_user.avatar_url }}" class="account-nav-avatar">
                        <h5 class="m-0 p-0">{{ self_user.username }}</h5>
                        <div style="margin-left: auto;">
                            <a href="/app/settings" class="btn btn-dark" style="background-color: #252525!important;"><i class="fa-solid fa-gear"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="profile-viewer" data-backdrop="true">
            <div class="modal-dialog">
                <fieldset class="profile-viewer">
                    <legend>
                        <img id="profile-viewer-avatar">
                    </legend>
                    <h5 class="modal-title" id="profile-viewer-title"></h5>
                    <hr id="profile-viewer-bio-divider">
                    <p class="m-0" id="profile-viewer-bio"></p>
                </fieldset>
            </div>
        </div>

        <script>
            var self_user = "{{ self_user.to_json(show_api_key=True) }}".replace(/&quot;/g, '"').replace(/&#39;/g, "\"").replaceAll("False", "false").replaceAll("True", "true").replaceAll("None", "null");
            var users = "{{ users_json }}".replace(/&quot;/g, '"').replace(/&#39;/g, "\"").replaceAll("False", "false").replaceAll("True", "true").replaceAll("None", "null");
            var user = {"username": "duduser", "id": "ZHVkdXNlcg=="};
            
            self_user = JSON.parse(self_user);
            users = JSON.parse(users);

            var context_menus = [];
        </script>
        <script src="/static/js/socket.js"></script>
        <script src="/static/js/context-menu.js"></script>
        <script src="/static/js/search-box.js"></script>
        <script src="/static/js/users.js"></script>
        <script src="/static/js/profile-view.js"></script>
        <script>
            render_users(users, true);
            function reset_notifs_loop() {
                if (document.hasFocus()) {
                    for (let i = 0; i < users.length; i++) {
                            if (get_notifications(users[i].id) <= 0) {
                                reset_notifications(users[i].id);
                            }
                        }
                    }

                setTimeout(function() {
                    reset_notifs_loop();
                }, 1000);
            }

            reset_notifs_loop();
        </script>
    </body>
</html>